.container.workplace__skills__container {
    width: 40%;
    padding-bottom: 3rem;
}

.client__avatar {
    width: 6.5rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 25%;
    margin: 0 auto 1rem;
    border: 0.15rem solid var(--color-primary-variant);
}

.skill {
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

.client__review {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    background: var(--color-primary);
}

/* =================== MEDIA QUERIES (MEDIUM DEVICES) =================== */

@media screen and (max-width: 1024px) {
    .container.workplace__skills__container {
        width: 60%;
    }
}

/* =================== MEDIA QUERIES (SMALL DEVICES) =================== */

@media screen and (max-width: 600px) {
    .container.workplace__skills__container {
        width: var(--container-width-sm);
    }

    .client__review {
        width: var(--container-width-sm);
    }
}
